src/main/mule/temporal-mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cbdf9d35-33c7-4814-b551-075d119d763a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="43ce741d-1ed7-456d-a0da-44df94c90782" >
		<file:connection workingDir="${mule.home}/apps/${app.name}/" />
	</file:config>
	<flow name="invoiceFlow" doc:id="730f5d6f-c8e9-4903-be69-f3f8f872974d" >
		<http:listener doc:name="Listener" doc:id="78f9eb98-8b62-4807-961a-13e4e978fdfe" config-ref="HTTP_Listener_config" path="/invoice"/>
		<ee:transform doc:name="append internalId" doc:id="cfdb4c66-3b4c-454a-81b6-7a9f7ad0a38d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item) -> {
	request: item,
	response: { internalId: uuid() } ++ item
})

    
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="46871cba-ec78-4cb9-bac7-74fc9a498096" >
			<ee:transform doc:name="Loot though request-response array" doc:id="17a24e6e-f7bd-4a4d-92d5-4c9b7256b7cf" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	request: payload.request,
	response: payload.response
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write json file into invoice folder" doc:id="913e8e7c-6e01-4182-b41f-b13ab63367b4" config-ref="File_Config" path="#['invoice/'++ payload.response.name ++&quot; - &quot; ++ payload.response.internalId ++ &quot;.json&quot;]" mode="CREATE_NEW">
		</file:write>
		</foreach>
		<set-payload value="#[payload.response]" doc:name="Set Payload" doc:id="a2b360cb-3d6e-4741-9ffc-e22bd7f191f4" />
	
</flow>
	<flow name="creditMemoFlow" doc:id="227a76ca-9376-4469-899c-4e56e948b225" >
		<http:listener doc:name="Listener" doc:id="62261062-fd50-4f6d-a948-2811770ddb74" config-ref="HTTP_Listener_config" path="/creditMemo" />
		<ee:transform doc:name="append internalId" doc:id="daa5f98d-e294-4c35-93ce-d70465e7a791">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item) -> {
	request: item,
	response: { internalId: uuid() } ++ item
})

    
]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<foreach doc:name="For Each" doc:id="e88f46d6-f33b-4665-80d3-be39ffa6dd7f">
			<ee:transform doc:name="Loot though request-response array" doc:id="baa07cfb-7dfe-4bc4-88e1-7cd7d24ef034">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	request: payload.request,
	response: payload.response
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write json file into creditMemo folder" doc:id="00da87ff-0fa4-46d2-a610-d9fef2b8ad4b" path="#['creditMemo/'++ payload.response.name ++&quot; - &quot; ++ payload.response.internalId ++ &quot;.json&quot;]" mode="CREATE_NEW" config-ref="File_Config">
		</file:write>
		</foreach>
		<set-payload value="#[payload.response]" doc:name="Set Payload" doc:id="ce05eb4b-e979-4755-92db-3fc75d55f497" />
	
</flow>
	<flow name="refundFlow" doc:id="f8f93425-ebfb-4134-9c3c-ad6998eef502" >
		<http:listener doc:name="Listener" doc:id="6fc884dc-cb54-42d9-bafd-2615cac89530" config-ref="HTTP_Listener_config" path="/refund" />
		<ee:transform doc:name="append internalId" doc:id="e844a50f-26a7-42ba-9942-bb1c8e0b75e4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item) -> {
	request: item,
	response: { internalId: uuid() } ++ item
})

    
]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<foreach doc:name="For Each" doc:id="c7c6ee84-8e18-47cd-9a3b-6b1becafb662">
			<ee:transform doc:name="Loot though request-response array" doc:id="24fcd8cc-3cd4-4c26-8f3c-96eed9e2b3ac">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	request: payload.request,
	response: payload.response
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write json file into refund folder" doc:id="498c91cc-76e3-493e-abfd-5b72e5d77f56" config-ref="File_Config" path="#['refund/'++ payload.response.name ++&quot; - &quot; ++ payload.response.internalId ++ &quot;.json&quot;]" mode="CREATE_NEW">
		</file:write>
		</foreach>
		<set-payload value="#[payload.response]" doc:name="Set Payload" doc:id="0cad5994-28df-47aa-bf7d-f55d288cef15" />
	
</flow>
	
</mule>
